{% extends 'website/base_admin.html' %}
{% load static %}
{% block content %}
	
	<h1> Administrar mis solicitudes </h1>
	<div class="jumbotron container">
		<div class="row">
			<div class="col-md-12">
				<table id="t01">
					<tr>
						<th>Tema</th>
						<th>Mensaje</th>
						<th>Tipo</th>
						<th>Estado</th>
						<th>Fecha</th>
					</tr>
					<tr>
						<td class="s-pendiente"><a href="#">Dudas sobre materia</a></td>
						<td class="s-pendiente">Hola, queria preguntar acerca de...</td>
						<td class="s-pendiente">Asesor&iacute;a</td>
						<td class="s-pendiente">Pendiente</td>
						<td class="s-pendiente">15/06/2017</td>
					</tr>
					<tr>
						<td class=""><a href="#">Contacto</a></td>
						<td class="">Buenos dias...</td>
						<td class="">Contacto</td>
						<td class="">Atendida</td>
						<td class="">14/06/2017</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

{% endblock %}