{% load static %}
<!DOCTYPE html>
<!-- Autor: Rafael Vasquez -->
<html>
    <head>
        <title>
            {% block title %}{% endblock %}-Forum Estudiantil
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link href="{% static 'website/css/style.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway|Roboto" rel="stylesheet">
        <!-- Libreria de jQuery y Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Script personalizado-->
        <script type="text/javascript" src="{% static 'website/js/myjsscript.js' %}"></script>
    </head>
    <body>
        <!-----------------  Barra de Navegacion  ------------------>
        <nav id="myTopnav" class="topnav">
            <a href="/" class="left brand"><strong>Forum-Estudiantil</strong></a>
            <a href="/descargas/facultad" class="left menu-link">Descargas</a>
            <a href="/informacion" class="left menu-link">Informaci&oacute;n</a>
            <a href="/pedir_asesoria" class="left menu-link">Asesoramiento</a>
            <a href="/sugerencia" class="left menu-link">Sugerencias</a>
            <a href="/perfil" id="h-link-perfil" class="left menu-link invisible">Mi perfil</a>
            <a href="/logmeout" id="h-link-logout" class="left menu-link invisible">Cerrar Sesión</a>
            <a href="javascript:void(0);" class="icon" >&#9776;</a>
            <div class="clipfix">
            <ul class="nav navbar-nav pull-right nav-menu-options hidden-xs" id="menu-usuario">
                <li><img src=" {% static 'website/img/avatar.gif' %}" class="hidden-xs hidden-sm nav-avatar"></li>
                <li><p class="user-name">{{ user.username }}</p></li>
                <li class = "user-options-menu">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="menu-link" href="/perfil">Mi Perfil <span class="glyphicon glyphicon-user"></span></a></li>
                            <li><a class="menu-link" href="/logmeout">Cerrar Sesi&oacute;n <span class="glyphicon glyphicon-log-out"></span></a></li>
                        </ul>
                    </div>
                </li>
    
            </ul>
            </div>
            <!--
            <ul>
                <li class="brand"><a href="/"><h4> Forum-Estudiantil </h4></a></li>
            </ul>
            <ul>
                <li class="menu-link "><a href="/descargas">Descargas</a></li>
                <li class="menu-link "><a href="/informacion">Informaci&oacute;n</a></li>
                <li class="menu-link "><a href="/pedir_asesoria">Asesoramiento</a></li>
                <li class="menu-link"><a href="/sugerencia">Sugerencias</a></li>
            </ul>
            <ul class="right-links">
                <li class="menu-link"><a href="/registrar">Registrarse</a></li>
                <li class="menu-link"><a href="#">Iniciar Sesión</a></li>
            </ul>
            <a href="javascript:void(0);" class="icon" >&#9776;</a>
            -->
        </nav>
        <div class="relleno"></div>

        
        <!-------------------  Aca va el contenido ----------------- -->
        {% block content %}
        {% endblock %}

        <!-----------------  pie de pagina  ------------------>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 col-xl-4 col-xl-offset-2 creditos">
                        <p> © 2017 Todos los derechos reservados.</p>
                        <p> Diseño y c&oacute;digo creados por Rafael Vasquez</p>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 col-xl-4 col-xl-offset-2">
                        <a href="/contacto" class="btn-contacto">Cont&aacute;ctanos</a>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>