{% extends 'website/base_usuario.html' %}
{% load static %}
{% block content %}
	<br>
	<br>
	<div class="cont-principal">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<!-- Cada articulo sera una seccion: guias, parciales, laboratorios, libros-->
					<!-- Si alguno de los articulos no posee descargas no se despliega.-->
					<div class="well">
						<h2 class="text-center">Nombre Materia</h2>
						<article>
							<hr>
							<h4>Guías</h4>
							<hr>
							<ul>
								<li><a>Guia 1</a></li>
								<li><a>Guia 2</a></li>
								<li><a>Guia 3</a></li>
							</ul>
						</article>
						<article>
							<hr>
							<h4>Exámenes</h4>
							<hr>
							<ul>
								<li><a>Exámen 1</a></li>
								<li><a>Exámen 2</a></li>
								<li><a>Exámen 3</a></li>
							</ul>
						</article>
						<article> 
							<hr>
							<h4>Laboratorios</h4>
							<hr>
							<ul>
								<li><a>Laboratorio 1 </a> <span> 50 Kb</span></li>
								<li><a>Laboratorio 2</a></li>
							</ul>
						</article>
						<article> 
							<hr>
							<h4>Libros</h4>
							<hr>
							<ul>
								<li><a>Libro 1</a> <span> 50 Kb</span></li>
								<li><a>Libro 2</a></li>
							</ul>
						</article>
					</div>
					
						
				</div>
					


				
			</div>
		</div>
	</div>

{% endblock %}