{% extends base_template %}
{% load static %}
{% block content %}
	<br>
	<br>
	<h1> Material Descargable </h1>

	<div class="cont-principal">
		<div class="container">
			<div class="row">
				<!-- Aca se coloca una lista de las licenciaturas disponibles en la facultad en un futuro de forma dinamica-->
				
				<div class="col-md-4 licenciaturas">
					<div class="jumbotron">
						<h4 class="text-center">Facultad de Ciencias</h4>
						<hr>
						<h4 class="text-center">Licenciaturas</h4>
						<ul>
							<li><a href="">Biología</a></li>
							<li><a href="">Computación</a></li>
							<li><a href="">Química</a></li>
							<li><a href="">Matemática</a></li>
							<li><a href="">Física</a></li>
						</ul>
					</div>
					<button class="btn btn-warning center-block">Ver otra Facultad</button>
				</div>
				<div class="col-md-8 materias">
					<div class="jumbotron">
						<h3 class="text-center">Biologia</h3>
						<hr>
						<h4 class="text-center">Obligatorias</h4>

						<div class="contenedor-mats">
							<table>
								<thead>
									<tr>
										<th>Semestre I</th>
										<th class="text-center">Codigo</th>
										<th class="text-center">UC</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a>Algoritmos y Programación</a></td>
										<td class="text-center">6201</td>
										<td class="text-center">6</td>
									</tr>
									<tr>
										<td><a>Algoritmos y Programación</a></td>
										<td class="text-center">6201</td>
										<td class="text-center">6</td>
									</tr>
									<tr>
										<td><a>Algoritmos y Programación</a></td>
										<td class="text-center" >6201</td>
										<td class="text-center">6</td>
									</tr>
								</tbody>
							
							</table>

							<table>
								<thead>
									<tr>
										<th>Semestre II</th>
										<th class="text-center">Codigo</th>
										<th class="text-center">UC</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a>Algoritmos y Programación</a></td>
										<td class="text-center" >6201</td>
										<td class="text-center" >6</td>
									</tr>
									<tr>
										<td><a>Algoritmos y Programación</a></td>
										<td class="text-center">6201</td>
										<td class="text-center">6</td>
									</tr>
									<tr>
										<td><a>Algoritmos y Programación</a></td>
										<td class="text-center">6201</td>
										<td class="text-center">6</td>
									</tr>
								</tbody>
							
							</table>
						</div>
						<hr>
						<h4 class="text-center">Electivas</h4>
							<div class="contenedor-mats">
								<table>
									<thead>
										<tr>
											<th>Nombre</th>
											<th class="text-center">Codigo</th>
											<th class="text-center">UC</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><a>Algoritmos y Programación</a></td>
											<td class="text-center" >6201</td>
											<td class="text-center" >6</td>
										</tr>
										<tr>
											<td><a>Algoritmos y Programación</a></td>
											<td class="text-center">6201</td>
											<td class="text-center">6</td>
										</tr>
										<tr>
											<td><a>Algoritmos y Programación</a></td>
											<td class="text-center">6201</td>
											<td class="text-center">6</td>
										</tr>
									</tbody>
								
								</table>
							</div>


					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}