{% extends base_template %}
{% load static %}

{% block title %}Perfil{% endblock %}


{% block content %}

	<h1> Mi perfil : {{ user.username }} </h1>

	
	<div class="container perfil-container">
		<div class="jumbotron">
			<div class="row">
				<div class="avatar-container col-md-3 col-md-offset-1">
					<img class="main-avatar center-block" src="{{ user.perfil.foto.url }}">
					
				</div>
				<div class="col-xs-7 col-sm-7 col-md-7 col-md-offset-1 col-sm-offset-2 col-xs-offset-2">
					<div class="campos-perfil">
						<span><b>Nombre:</b></span>
						<span>{{ nombre }}</span>
					</div>
					<div class="campos-perfil">
						<span><b>Apellido: </b></span>
						<span>{{ apellido }}</span>
					</div>

					<div class="campos-perfil">
						<span><b>Escuela y Facultad: </b></span>
						<span>{{ user.perfil.escuela }}</span>	
					</div>

					<div class="campos-perfil">
						<span><b>Carrrera: </b></span>
						<span>{{ user.perfil.carrera }}</span>	
					</div>

					<div class="campos-perfil">
						<span><b>Correo electrónico: </b></span>
						<span>{{ email }}</span>	
					</div>

					<div class="campos-perfil">
						<span><b>Acerca de mi:</b></span>
						<div><p>{{ desc }}</p></div>	
					</div>

					{% if user.perfil.es_supervisor%}
						<div class="campos-perfil">
							<span><b>Supervisando:</b></span>
							<div><p>{{ user.perfil.materia }}</p></div>	
						</div>
					{% endif %}

				</div>
			</div>
			<div class="relleno"></div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
					<form action="editar">
						<button type="submit" class="btn btn-primary btn-lg btn-block outline">Editar Perfil <i class="fa fa-edit" style="font-size:24px"></i></button>
					</form>
				</div>
			</div>

		</div>
	</div>
		

{% endblock %}
