{% extends base_template %}
{% load static %}
{% block content %}

	<h1> Mi perfil </h1>

	
	<div class="container perfil-container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<img class="main-avatar center-block" src="{% static 'website/img/avatar.gif' %}">
					<br>
					<button class ="btn btn-primary outline center-block" >Editar mi perfil</button>
				</div>
				<div class="col-md-7 col-md-offset-1">
					<div class="campos-perfil">
						<span><b>Nombre:</b></span>
						<span>{{ nombre }}</span>
					</div>
					<div class="campos-perfil">
						<span><b>Apellido: </b></span>
						<span>{{ apellido }}</span>
					</div>

					<div class="campos-perfil">
						<span><b>Facultad: </b></span>
						<span>{{ facultad }}</span>	
					</div>

					<div class="campos-perfil">
						<span><b>Carrrera: </b></span>
						<span>{{ user.perfil.carrera }}</span>	
					</div>

					<div class="campos-perfil">
						<span><b>Correo electrónico: </b></span>
						<span>{{ email }}</span>	
					</div>

					<div class="campos-perfil">
						<span><b>Acerca de mi:</b></span>
						<div><p>{{ desc }}</p></div>	
					</div>
				</div>
			</div>
			

		</div>
	</div>
		

{% endblock %}
