{% extends 'website/base_admin.html' %}
{% load static %}

{% block title %}Solicitud{% endblock %}

{% block content %}
	
	<h1> Solicitud - Detalles </h1>
	<div class="jumbotron container">
		{% if solicitud.tipo == 'Contacto' %}
		<h2 class="text-center">Contacto</h2>
		<hr>
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<label>Nombre:</label>
				<p>{{ solicitud.nombre }}</p>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<label>Teléfono:</label>
				<p>{{ solicitud.telefono }}</p>
			</div>
			<div class="col-md-4">
				<label>Correo Eletrónico:</label>
				<p>{{ solicitud.email }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<label>Título:</label>
				<p>{{ solicitud.titulo }}</p>
				<label>Mensaje:</label>
				<p>{{ solicitud.cuerpo }}</p>
			</div>
		</div>
		{% endif %}
	</div>

{% endblock %}