{% autoescape off %}

Para iniciar el proceso de recuperación de contraseña para tu cuenta del Foro-Estudiantil
con el siguiente nombre de usuario: {{ user.get_username }}, haz click en el siguiente enlace:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Si el link no funciona con un click, por favor copielo y peguelo en el campo de dirección URL
de una ventana de su navegador.


Sinceramente,
El equipo de Foro-Estudiantil.
{% endautoescape %}