{% extends 'website/base.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
	<div class="relleno"></div>
	<h1>Enlace Enviado</h1>
	<div class="container main-container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>
					Hemos enviado instrucciones a tu cuenta de correo electrónico para recuperar tu contraseña, si una cuenta existe con el correo proporcionado.
				</p>
				<p>
				    Deberías de recibirlas en breves instantes.
				</p>
				<p>
					Si no recibes un correo, por favor asegurate de que has ingresado la dirección de correo con la que registraste una cuenta y recuerda revisar tu carpeta de spam. 
				</p>

				<form action="/">
                    <button type="submit" class="btn btn-warning center-block" >
                        Volver al inicio
                    </button>
                </form>
			</div>
		</div>
	</div>
  	<div class="relleno"></div>
  	<div class="relleno"></div>
{% endblock %}