{% extends 'website/base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}
    {% if validlink %}
        <h1>Cambiar Contraseña</h1>
        <div class="container main-container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br>

                        {% if field.errors %}
                            <div class="form-errors">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}

                        {{ field }}
                    </div>
                {% endfor %}

                <div class="relleno"></div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <button type="submit" class="btn btn-success btn-lg btn-block submit-btn">Cambiar</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    {% else %}
        <div class="relleno"></div>
        <h1>Error!</h1>
        <div class="container main-container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p>
                  El enlace de recuperacion de contraseña es inválido, posiblemente porque ya fue utilizado.
                  Por favor solicite un nuevo enlace.
              </p>
              <form action="{% url 'website:password_reset' %}">
                    <button type="submit" class="btn btn-warning center-block" >
                        Recuperar Contraseña
                    </button>
                </form>
            </div>
          </div>
        </div>
        <div class="relleno"></div>
        <div class="relleno"></div>
    {% endif %}
{% endblock %}