{% extends 'website/base.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}

	<h1> Recuperar Contraseña </h1>
	<div class="container main-container">
		<div class="row login-form">
            <div class="col-md-10 col-md-offset-1">
                <p class="instrucciones">
                    Por favor ingrese el correo electrónico asociado a su cuenta, un enlace para recuperar tu contraseña será enviado a el.
                </p>
                <form method="post">

                    {% csrf_token %} 

                    {{ form.as_p }}
                    
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <button type="submit" class="btn btn-success btn-lg btn-block submit-btn">Recuperar</button>
                        </div>
                    </div>
                    
                </form>
            </div>
		</div>
	</div>
{% endblock %}