{% autoescape off %}

Bienvenido a Foro-Estudiantil!<br>
<br>
Tu registro de usuario ha sido exitoso, a continuación indicaremos tus credenciales:<br>
<br>
<strong>Usuario:</strong> {{ username }}<br>
<strong>Contraseña:</strong> {{ password }}<br>
<br>
<em>Te sugerimos que, la próxima vez que inicies sesión en nuestro sitio web, actualices tu información de pérfil completa para poderte ofrecer un servicio más comodo y personalizado.<br></em>
<br>
Sinceramente,<br>
El equipo de Foro-Estudiantil.<br>
{% endautoescape %}