body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    color: #222;
    background-color: #0099cc;
}

body.admin{
    background-color: #eba259; 
}
/*---------------  BARRA DE NAVEGACION  ---------------*/
div.relleno{
    height: 3.5em;
}

nav.topnav{
    font-family: Arial, sans-serif;
    position: fixed;
    width: 100%;
    margin-top: 0;
    background-color: white;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    z-index: 9;
}

.topnav a {
    display: block;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.topnav a.left{
    float: left;
}

.topnav a.right{
    float: right;
}

nav a.menu-link{
    -webkit-transition: color 0.5s, background-color 0.7s, border-radius 0.5s; 
    -moz-transition: color 0.5s, background-color 0.7s, border-radius 0.5s;
    transition: color 0.5s, background-color 0.7s, border-radius 0.5s;
}

nav a.menu-link:hover{
    color: #fff;
    background-color: #0099cc;
    text-decoration: none;
    border-radius: 1px;
}

nav a.icon {
    display: none;
    text-decoration: none;
    color: #222;
    border: 0.5px #999 solid;
    border-radius: 50%;
    padding: 10px 15px;
    margin-right: 15px;
}

nav a.icon:hover{
    color: #fff;
    background-color: #0099cc;
    border: none;
    text-decoration: none;
    border-radius: 50%;
    padding: 11px 16px;

}

/*
    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Raleway', sans-serif;

*/

.nav-avatar{
    height: 50px;
    width: 50px;
    margin-right: 10px;

}

nav h4{
    margin-right: 15px;
    padding-top: 5px; 
}

.dropdown-menu{
    top: 52px;
    left: -98px;
}

.dropdown-menu.admin{
    top: 52px;
    left: -149px;
}

.dropdown-menu a{
    padding: 5px 0;
    text-align: left;
}
/* Media queries para lograr responsividad en la barra de navegacion del tope*/
@media screen and (max-width: 900px) {

    .topnav a:not(:first-child){
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        margin-top: 2px;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    div.relleno.responsive{
        display: none;
    }

}
/*---------------  MODAL DE INICIO DE SESION  ---------------*/
div.modal{
    display: none; 
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 60px;
}

div.login_box{
    background-color: #eee;
    width: 400px;
    padding: 30px 15px;
    border-radius: 10px;
}

.close {
    position: relative;
    right: 25px;
    top: -25px;
    left: 10px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.twt-btn{
    margin-bottom: 20px;
}


/*---------------  HEADER PRINCIPAL  ---------------*/

div#header-principal{
    max-height: 400px;
    background: linear-gradient(to bottom, #33a6cc , #eb8f34);
}

.main-banner{
    max-height: 400px;
    min-height: 289px;
    display: inline-block;
    margin-left: -15px;
}

div#header-principal p{
    display: block;
    font-family: serif;
    font-size: 30px;
    margin-top: 80px;
    color: #fff;
    text-shadow: 1px 1px #555;
}

#btn-unirse{
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: #0099cc;
    color: #fff;
}
/*
@media all and (max-width: : 1175px) {
    div#header-principal p{
        display: block;
        font-family: serif;
        font-size: 30px;
        margin-top: 60px;
        color: #fff;
        text-shadow: 1px 1px #555;
    }
}*/
/*---------------  SECCIONES DE CONTENIDO Y ACCESO  ---------------*/

h1{
    text-align: center;
    color: #eee;
    
}

section{
    width: 95%;
    margin: 10px auto;
    height: 200px;
    padding: 0;
    margin-top: 20px;
    border: 1px solid #999;
    background-color: #fff;
    box-shadow: 5px 5px 5px #eb8f34;
}

.img-section{
    max-height: 180px;
    margin-top: 8px;
    margin-left: 10px 
}

.big-icon{
    font-size: 20px;
}

section p{
    margin-top: 40px;
    font-size: 17px;
    margin-bottom: 10px;
}

section button{
    margin-top: 5px;
    margin: 0 auto;
    width: 250px;
}

@media all and (max-width: 663px) {
    section{
        height: 250px;
    }

    section p{
        margin-top: 40px;
        font-size: 17px;
        margin-bottom: 20px;
    }

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table#t01{
    width: 100%;
}

th, td {
    padding: 10px;
}

.s-pendiente{
    background-color: rgba(255,250,205,0.7)
}

th {
    text-align: left;
}

/*---------------  CSS CUSTOM para botones de Boostrap  ---------------*/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn.outline {
	background: #fff;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}

.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

.btn-warning.outline {
	border: 2px solid #eb8f34;
	color: #eb8f34;
}
.btn-warning.outline:hover, .btn-warning.outline:focus, .btn-warning.outline:active, .btn-warning.outline.active, .open > .dropdown-toggle.btn-warning {
	border-color: #eba259;
	color: #eba259;
}
.btn-warning.outline:active, .btn-warning.outline.active {
	border-color: #b87430;
	color: #b87430;
	box-shadow: none;
}

/*---------------  Css para seccion de Registrarse ---------------*/

.main-container{
    background-color: #eee;
    border-radius: 10px;
    max-width: 700px;
    padding: 10px 20px;

}

.login-form{
    margin-bottom: 20px;
}

div.login-form button.submit-btn{
    margin-top: 20px;
}

div.login-form fieldset{
    margin: 30px 0;
}

/*---------------  Pie de pagina  ---------------*/

footer{
    margin-top: 50px;
    background-color: #fff;
    width: 100%;
    min-width: 370px;
    height: 200px;
}

div.creditos{
   margin-top: 50px; 
}

.btn-contacto{
    display: inline-block;
    margin-top: 50px;
}

footer a{
    padding: 10px 20px;
    text-decoration: none;
    color: #eee;
    font-size: 18px;
    background-color: #eb8f34;
    border-radius: 5px;
    -webkit-transition: color 0.5s, background-color 0.7s, border-radius 0.5s; 
    -moz-transition: color 0.5s, background-color 0.7s, border-radius 0.5s;
    transition: color 0.5s, background-color 0.7s, border-radius 0.5s;
}

footer a:hover{
    color: #fff;
    background-color: #0099cc;
    text-decoration: none;
    border-radius: 1px;
}