{% extends 'website/base_admin.html' %}
{% load static %}

{% block title %}Administrar Solicitudes{% endblock %}

{% block content %}
	
	<h1> Administrar Solicitudes </h1>
	<div class="jumbotron container">
		<h3 class="text-center sol-title">Mis solicitudes</h3>
		<hr>
		<br>
		<div class="row">
			<div class="col-md-12">
				<table id="t01">
					<tr>
						<th>Tema</th>
						<th>Mensaje</th>
						<th>Tipo</th>
						<th>Estado</th>
						<th>Fecha</th>
					</tr>

					{% for sol in solReservadas %}
						<tr {% if sol.estado == 'Pendiente' %} class="pendiente" {% endif %}>
							<td><a href="{{ sol.get_absolute_url }}">{{ sol.titulo|truncatewords:6 }}</a></td>
							<td>{{ sol.cuerpo|truncatewords:12 }}</td>
							<td>{{ sol.tipo }}</td>
							<td>{{ sol.estado }}</td>
							<td>{{ sol.fecha_enviado.day }}/{% if sol.fecha_enviado.month < 10 %}0{% endif %}{{ sol.fecha_enviado.month }}/{{ sol.fecha_enviado.year }}</td>
						</tr>
					{% endfor %}
				</table>

				{% if not solReservadas %}
					<h4 class="text-center" style = "color: red;">No hay solicitudes que desplegar.</h4>
				{% endif %}


			</div>
		</div>
		<div class="relleno"></div>
		<h3 class="text-center sol-title2">Solicitudes por Atender</h3>
		<hr>
		<br>
		<div class="row">
			<div class="col-md-12">
				<table id="t01">
					<tr>
						<th>Tema</th>
						<th>Mensaje</th>
						<th>Tipo</th>
						<th>Estado</th>
						<th>Fecha</th>
					</tr>
					{% for sol in solLibres %}
						<tr>
							<td><a href="{{ sol.get_absolute_url }}">{{ sol.titulo|truncatewords:6 }}</a></td>
							<td>{{ sol.cuerpo|truncatewords:12 }}</td>
							<td>{{ sol.tipo }}</td>
							<td>{{ sol.estado }}</td>
							<td>{{ sol.fecha_enviado.day }}/{% if sol.fecha_enviado.month < 10 %}0{% endif %}{{ sol.fecha_enviado.month }}/{{ sol.fecha_enviado.year }}</td>
						</tr>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>

{% endblock %}