{% extends base_template %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}

	<h1> Cont&aacute;ctanos </h1>
	<div class="container main-container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<form method="post">

					{% csrf_token %} 
					<fieldset>
						<legend>Datos de Contacto</legend>
						{% for field in contactof %}
                            <div class="form-group">
                                {{ field.label_tag }}<br>

                                {% if field.errors %}
                                    <div class="form-errors">
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                    </div>
                                {% endif %}

                                {{ field }}
                            </div>
                        {% endfor %}
	                </fieldset>
	                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <button type="submit" class="btn btn-success btn-lg btn-block submit-btn">Contactar</button>
                        </div>
                    </div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}